.container{
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
     white-space: nowrap;
     flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: middle;
    


    /* max-height: 600px; */
    background-color: #eee;
    border: 1px;
    border-radius: 5px ;
    margin: 3px;
    padding: 5px;

    margin-top: 60px;
    margin-left: 80px;
    margin-right: 20px;


}

.subcontainer{
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;

     white-space: nowrap;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;

    max-height: 600px;
    max-width: 950px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px ;
    margin: 3px;
    padding: 5px;


}

.table-container{
    overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
    max-height: 600px;
    width: 100%;
    background-color: #eee;
    border: 1px;
    border-radius: 5px ;


}

.tab-container{
    display: flex;
    vertical-align: top
}

.tab-sub{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.tab-sub div{
    background-color: #3F52B5;
    color: white;
}

.title{
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    vertical-align: middle;
    background-color: #3F52B5;
    border: 1px;
    border-radius: 5px ;
    margin: 3px;
    padding: 5px;
}

