.row-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
.row-container img{
    max-width: 400px;
}

.root {
    width: '100%';
    margin-top: 5px;
    overflow-x: 'scroll'
  }
  .table {
    min-width: 700;
  }